body {background-color: thistle;
text-align: center;
}


header { 
 display:block;
 margin: 50px 10px 80px 10px;
}

ul.images li {
margin-right: 20px;
padding: 5px 5px 40px 5px;
background-color: #fff;
list-style: none;
}

ul.images li a img {
	float: left;
	height: 200px;
  width:  200px;

 -webkit-transition: -webkit-transform 0.5s ease-in-out;
 -moz-transition: -webkit-transform 0.5s ease-in-out;
 transition: transform 0.5s ease-in-out;

}


ul.images li a:hover img, a:focus img{
-webkit-transform: scale(1.5) ;
-moz-transform: scale(1.5) ;
-o-transform: scale(1.5) ;
transform: scale(1.5) ;
-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
box-shadow: 4px 4px 10px rgba(0,0,0,0.5);

}

ul{
    display: flex;
  justify-content: center;
}

ul.menu{
    list-style: none;
    margin-right: 20px;
    
    
}

ul.menu li a img {
 -webkit-transition: -webkit-transform 0.5s ease-in-out;
 -moz-transition: -webkit-transform 0.5s ease-in-out;
 transition: transform 0.5s ease-in-out;

}

ul.menu li a:hover img, a:focus img{
  -webkit-transform: rotate(10deg) ;
  -moz-transform: rotate(10deg) ;
  -o-transform: rotate(10deg) ;
  transform: rotate(10deg) ;
  -webkit-box-shadow: 4px 4px 10px rgba(190, 49, 148, 0.849);
  -moz-box-shadow: 4px 4px 10px rgba(190, 49, 148, 0.849);
  box-shadow: 4px 4px 10pxrgba(190, 49, 148, 0.849);
  
  }



